header {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: black;
  /* border: 1px solid #9b8748; */
  padding: 0px 15px 0px 15px;
  text-transform: uppercase;
}

.logo {
  /* background-color: white; */
  /* border: 1px solid purple; */
  padding: 5px;
  color: white;
  align-self: center;
}

nav ul {
  display: flex;
  /* justify-content: flex-start; */
  list-style: none;
  /* background-color: yellow; */
  /* border: 1px solid green; */
  padding: 5px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: rgb(245, 237, 237);
  padding: 20px;
  /* border: 1px solid #9b8748; */
  margin: 0 5px 0 0;
  /* background-color: #9b8748; */
}

nav a.active {
  text-decoration: none;
  color: rgb(74, 182, 173);
  padding: 20px;
  /* border: 1px solid #9b8748; */
  margin: 0 5px 0 0;
  background-color: #3f3f3d;
  font-weight: bold;
}

.sign-out-link {
  /* background-color: white; */
  text-decoration: none;
  /* border: 1px solid rgb(9, 39, 13); */
  margin-left: auto;
  align-self: center;
  color: rgb(74, 182, 173);
  font-size: small;
  font-weight: bold;
}
.fa {
  color: white;
}

@media all and (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
  .logo {
    order: 1;
  }
  nav {
    background-color: #1f1f1c;
    width: 100%;
    /* border: 4px solid rgb(2, 2, 2); */
    order: 3;
  }
  .sign-out-link {
    order: 2;
  }
  .fa {
    color: rgb(74, 182, 173);
  }
}
